body {
    background-color: #1d1e22;
}

.header {
    display: flex;
    justify-content: center;
    color: #feda6a;
    font-size: 4em;
    font-weight: 600;
    margin-top: 36px;
    text-shadow: 0 0 .5rem black;
}

.display {
    display: flex;
    background-color: #393f4d;
    justify-content: center;
    width: fit-content;
    border-radius: 36px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 64px;
    margin: 64px auto;
    gap: 64px;
}

.upper,
.lower {
    display: flex;
    justify-content: center;
    color: #feda6a;
    font-size: 2em;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 24px;
}

button {
    border: .4rem solid #393f4d;
    border-radius: 1rem;
    transition: all .07s ease;
    padding: 1rem;
    width: 15rem;
    background: rgba(0,0,0,0.4);
    color: white;
    text-shadow: 0 0 .5rem black;
    font-size: 2em;
}

.pressed {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }

.result {
    display: flex;
    justify-content: center;
    color: #feda6a;
    margin-bottom: 64px;
    font-size: 2em;
    text-shadow: 0 0 .5rem black;
}

